<!-- Universal Modal for Entity CRUD OPS-->
<div class="modal fade" id="popUpEntityView">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 id="modalHeaderText">Your Header Text HERE</h3>
            </div>

            <!-- body form -->
            <div class="modal-body" id="popUpEntityPartialView">
                Your ENTITY Partial View HERE

            </div>
            <!-- submit button-->
            <div class="modal-footer">
                <button type="button" id="myclose" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




@*<!-- Universal Modal for displaying Details for Entities-->
<div class="modal fade" id="popUpTableItemView">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Details</h3>
            </div>

            <!-- body form -->
            <div class="modal-body" id="popUpTableItemPartialView">


            </div>
            <!-- submit button-->
            <div class="modal-footer">
                <button type="button" id="myclose" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Universal Modal for Creating new Entities-->
<div class="modal fade" id="popUpCreate">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Create New</h3>
            </div>

            <!-- body form -->
            <div class="modal-body" id="popUpCreatePartialView">

            </div>
            <!-- submit button-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Universal Modal for Editing existing Entities-->
<div class="modal fade" id="popUpEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Edit</h3>
            </div>

            <!-- body form -->
            <div class="modal-body" id="popUpEditPartialView">

            </div>
            <!-- submit button-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Universal Modal for Deleting existing Entities-->
<div class="modal fade" id="popUpDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Delete</h3>
            </div>

            <!-- body form -->
            <div class="modal-body" id="popUpDeletePartialView">

            </div>
            <!-- submit button-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>*@
